<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./frow/dist/frow.min.css">
    <link rel="stylesheet" href="normalize.css">

    <style>
        .container-book{
            background: white;
            box-shadow: 1px 1px 5px 5px rgb(211 211 211 / 20%);
            width: 300px;
            border-radius: 15px;
            margin: 5px;
            overflow: auto;
        }

        .book-info {
            padding: 10px;
            width: 215px !important;
            height: 100px;
        }
        .col-container-book{
            width: 315px !important;
        }

        .book-an-appointment {
            border-top: .5px solid #ededed;
            height: 40px;
            color: #01a198;
            cursor: pointer
        }

        body {
            background: #f4f4f4;
        }
    </style>
</head>
<body>
    
    <!-- container-book -->
    <!-- <div class="container-book">

        <div class="frow row-start">
            <div class="col-md-1-3" style="height: 100px; width: 80px; background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRUcavQlgmi4i-0eI90a_jXwQ7J5zl1Vk_Iw&usqp=CAU); background-size: cover; background-position: center;"></div>
            <div class="col-md-1-3 book-info    ">
                <div>Nome Completo</div>
                <div>Profi</div>
            </div>
        </div>
        <div class="frow row-center book-an-appointment">
           Marcar uma consulta 
        </div>
    </div> -->
    <!-- container-book -->

    <div class="frow column-center">
        <div class="frow justify-start">
        
          <!-- container-book -->
             <div class="container-book">

                 <div class="frow row-start">
                     <div class="col-md-1-3" style="height: 100px; width: 80px; background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRUcavQlgmi4i-0eI90a_jXwQ7J5zl1Vk_Iw&usqp=CAU); background-size: cover; background-position: center;"></div>
                     <div class="col-md-1-3 book-info    ">
                         <div>Nome Completo</div>
                         <div>Profi</div>
                     </div>
                 </div>
                 <div class="frow row-center book-an-appointment">
                    Marcar uma consulta 
                 </div>
             </div>
            <!-- container-book -->

                    
          <!-- container-book -->
          <div class="container-book">

            <div class="frow row-start">
                <div class="col-md-1-3" style="height: 100px; width: 80px; background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRUcavQlgmi4i-0eI90a_jXwQ7J5zl1Vk_Iw&usqp=CAU); background-size: cover; background-position: center;"></div>
                <div class="col-md-1-3 book-info    ">
                    <div>Nome Completo</div>
                    <div>Profi</div>
                </div>
            </div>
            <div class="frow row-center book-an-appointment">
               Marcar uma consulta 
            </div>
        </div>
       <!-- container-book -->


           <!-- container-book -->
           <div class="container-book">

            <div class="frow row-start">
                <div class="col-md-1-3" style="height: 100px; width: 80px; background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRUcavQlgmi4i-0eI90a_jXwQ7J5zl1Vk_Iw&usqp=CAU); background-size: cover; background-position: center;"></div>
                <div class="col-md-1-3 book-info    ">
                    <div>Nome Completo</div>
                    <div>Profi</div>
                </div>
            </div>
            <div class="frow row-center book-an-appointment">
               Marcar uma consulta 
            </div>
        </div>
       <!-- container-book -->

               
           <!-- container-book -->
           <div class="container-book">

             <div class="frow row-start">
                 <div class="col-md-1-3" style="height: 100px; width: 80px; background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRUcavQlgmi4i-0eI90a_jXwQ7J5zl1Vk_Iw&usqp=CAU); background-size: cover; background-position: center;"></div>
                 <div class="col-md-1-3 book-info    ">
                     <div>Nome Completo</div>
                     <div>Profi</div>
                 </div>
             </div>
             <div class="frow row-center book-an-appointment">
                Marcar uma consulta 
             </div>
         </div>
        <!-- container-book -->

            <!-- container-book -->
            <div class="container-book">

              <div class="frow row-start">
                  <div class="col-md-1-3" style="height: 100px; width: 80px; background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRUcavQlgmi4i-0eI90a_jXwQ7J5zl1Vk_Iw&usqp=CAU); background-size: cover; background-position: center;"></div>
                  <div class="col-md-1-3 book-info    ">
                      <div>Nome Completo</div>
                      <div>Profi</div>
                  </div>
              </div>
              <div class="frow row-center book-an-appointment">
                 Marcar uma consulta 
              </div>
          </div>
         <!-- container-book -->




       

        </div>
    </div>


</body>
</html>